<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Users</title>
</head>
<body>
<h1>Users table</h1>
<div>
  <table border="1">
    <tr>
      <th>user_id</th>
      <th>user_name</th>
      <th>user_surname</th>
      <th>user_email</th>
    </tr>
    <tr th:each="user : ${users}">
      <td th:text="${user.id}">...</td>
      <td th:text="${user.name}">...</td>
      <td th:text="${user.surname}">...</td>
      <td th:text="${user.email}">...</td>
    </tr>
  </table>
</div>
</body>
</html>
